//-
 * Button with feedback & navigation to the next slide
 * @param {Object} employee - The employee who is responsible for the project.
 *   @param {String || boolean } data.done - whether to display the button when viewing done exercise
 *   @param {String || boolean } data.default - text for default state
 *   @param {String || boolean } data.default - text for hover state
 */
mixin mamHotovo(data = {done: false, default: false, hover: false})
  - const textDefault = data.default || t.feedback.default[lang]
  - const textOnHover = data.hover || t.feedback.hover[lang]

  button.button.button-ok.button-hidden.hide-on-previous-slide(data-save-button data-nav-button="next" title= t.navigation.hotkeys[lang] + ": 'space', 'enter', '→'" data-feedback-button= {'default': textDefault, 'hover': textOnHover} data-done= data.done)
    span= textDefault
